aiohttp==3.7.4
altgraph==0.17.2
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==2.0.12
colorama==0.4.5
future==0.18.2
idna==2.8
matplotlib==3.2.2
multidict==4.7.6
pefile==2022.5.30
Pillow==9.1.1
progressbar==2.5
protobuf==3.12.2
pycryptodome==3.9.8
PyExecJS==1.5.1
PyInstaller==3.6
PyQt5==5.15.7
pywin32-ctypes==0.2.0
PyYAML==6.0
QtPy==2.1.0
requests==2.22.0
retrying==1.3.3
scikit-image==0.19.3
six==1.15.0
soupsieve==2.3.2.post1
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==1.25.11
wget==3.2
wincertstore==0.2
yarl==1.5.1
