aiohttp==3.8.4
async-timeout==4.0.2
attrs==22.2.0
certifi==2022.12.7
chardet==5.1.0
idna==3.4
multidict==6.0.4
protobuf==3.20.*
pycryptodome==3.17
PyExecJS==1.5.1
requests==2.28.2
six==1.16.0
typing-extensions==4.5.0
urllib3==1.26.15
yarl==1.8.2
